body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Set background color to black */
    color: #fff; /* Set text color to white */
    text-align: center; /* Center the body text horizontally */
}

header {
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    background-color: #000000;
    padding: 20px;
    margin: 20px 0;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    display: block;
    width: 60%;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #ff250d;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

